## 1.write a program to accept the percentage form the user

In [1]:
marks=int(input("Enter a number : "))
if marks >90 :
    print("grade A")
elif marks >80 and marks <=90 :
    print("grade B")
elif marks >=60 and marks <=80 :
    print("grade C")
elif marks <60 :
    print("grade D")

Enter a number :  85

grade B

## 2.write a program to accept the cost price of the bike

In [2]:
cost_price=int(input("Enter a number : "))
if cost_price >100000 :
    print("tax is 15%")
elif cost_price >50000 and cost_price <=100000 :
    print("tax is 10%")
elif cost_price <=50000 :
    print("tax is 5%")

Enter a number :  90000

tax is 10%

## 3.Accept city from the user

In [4]:
city_name=input("Enter a city_name : ")
if city_name == "Delhi" :
    print("Red Fort is the monument present in Delhi")
elif city_name == "Agra" :
    print("Taj Mahal is the monument present in Agra")
elif city_name == "Jaipur":
    print("Jai Mahal is the monument present in Jaipur")
else :
    print("sorry we don't have any information about monuments")

Enter a city_name :  Agra

Taj Mahal is the monument present in Agra

## 4.check how many times a given number can be divided by 3 before it is less than oer equal to 10

In [5]:
num = int(input("Enter a number: "))
count = 0

while num > 10:
    num /= 3
    count += 1

print("The given number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  1000

The given number can be divided by 3 5 times before it is less than or equal to 10.

# 5.why and when to use while loop in python give a detailed description with example

### A while loop in Python is used to execute a set of statements repeatedly until a particular condition is met. The loop continues to execute as long as the condition is true. It is useful when you need to repeat a block of code based on some condition that is not known in advance, or when you need to keep looping until a certain condition is met.

Here is an example of a while loop in Python that prints the numbers from 1 to 10:


i = 1 

while i <= 10:

    print(i)
    i += 1 
    
In this example, the loop starts by setting the variable 'i' to 1. The loop condition is 'i <= 10', which means that the loop will continue to execute as long as 'i' is less than or equal to 10. The loop body consists of a single statement that prints the value of 'i' and increments i by 1 in each iteration.

When the loop runs, it will execute the print statement with 'i' equal to 1, then it will increment 'i' to 2 and check the condition again. The loop will continue to execute and print the values of 'i' until 'i' reaches 11, at which point the condition 'i <= 10' is false and the loop terminates.

## 6.use nested while loop to print 3 different pattern

In [6]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

print()

*
**
***
****
*****

In [7]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i -= 1

print()

*****
****
***
**
*

In [8]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

1
12
123
1234
12345

## 7.reverse a while loop to display numbers from 10 to 1

In [9]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

## 8.reverse a while loop to display numbers from 10 to 1

In [10]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1